<html>
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>TravNote</title>
    <!-- title image -->
    <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/cTz2tXr/plane.png">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">TravNote</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/trends">Trends</a>
          <a class="nav-link" href="/post">Account</a>
        </nav>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <!-- conver image : https://imgbb.com -->
      <div
      id="intro-example"
      class="p-5 text-center bg-image"
      style="background-image: url('https://i.ibb.co/JHrJnDx/venice.jpg'); background-repeat: no-repeat;
      background-size: cover;"
      >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.75);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Hello Traveller, it's yours</h1><br>
              <p style="font-size: 18px">We are here to support you have a happy journey.
              <br>Check out travel trends and plan your trip with us before hang out.
              <br>At the end of the trip, record your photos and experiences on travelling.
              <br>After time has passed, let's travel through your memories with us.</p>
              <br>
              <a
                class="btn btn-outline-light btn-lg m-3"
                href="/trends"
                role="button"
                rel="nofollow"
                target="_blank"
                >Trends</a
              >
              <a
                class="btn btn-outline-light btn-lg m-3"
                href="/post"
                target="_blank"
                role="button"
                >Post</a
              >
            </div>
          </div>
        </div>
      </div>
      <br>
      <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a></p>
      </footer>
      <br>
    </div>
    </div>
  </div>


    </body>
</html>