<html>
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>TravLog</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">TravNote</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/trends">Trends</a>
            <a class="nav-link" href="/post">Post</a>
          </nav>
          <main>

            <section class="py-5 text-center container">
              <div class="row py-lg-5">
                <div class="col-lg-7 col-md-15 mx-auto">
                  <h1>Record Your Travel</h1>
                  <p class="lead text-muted"><br>You can't go back in time, but you can think of the emotions of the time while looking at the pictures of the moment you were happy. <br>TraNote will support you return to the sensibilities of the day when you are.</p>
                </div>
              </div>
            </section>
          
            <div class="album py-6 bg-light">
              <div class="container">
          
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="https://i.ibb.co/DR7z50q/firenze.jpg" style="width:100%;">
                      <div class="card-body">
                        <p class="card-text" style="color:black"><span style="font-size: 12px">Aug 2017 / Florence, Italy</span> <br>
                          Cathedral of Santa Maria del Fiore<br><br>
                      종교가 없는 사람도 그 앞에서면 '웅장함'이라는 분위기에 휩싸인다. 1200년대에 지어졌다는건 언제 들어도 놀랍다. 요즘 현대 건축물들이 많아지고 있는게 아쉬울 지경이다.<br><br></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-xs">View</button>
                            <button type="button" class="btn btn-outline-secondary btn-xs">Edit</button>
                          </div>
                          <small class="text-muted">Aug 02, 2021</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="https://i.ibb.co/frPTttz/london3.jpg" style="width:100%;">
                      <div class="card-body">
                        <p class="card-text" style="color:black"><span style="font-size: 12px">Aug 2017 / London, UK</span> <br>
                          The Guard at Buckingham Palace<br><br>
                      근위병들이 칼각으로 연주를 하며 등장한다. 요즘 웬만한 아이돌 그룹보다 각이 잘 맞을 것이다. 근위병의 길은 누구도 막을 수 없다!는 짤의 실사판도 조금 기대했지만 아쉽게도..<br><br></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-xs">View</button>
                            <button type="button" class="btn btn-outline-secondary btn-xs">Edit</button>
                          </div>
                          <small class="text-muted">Aug 02, 2021</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="https://i.ibb.co/G5jv8b7/hongkong.jpg" style="width:100%;">
                      <div class="card-body">
                        <p class="card-text" style="color:black"><span style="font-size: 12px">Oct 2019 / Tsim Sha Tsui, Hongkong</span> <br>
                          A Symphony of lights <br><br>
                      I've never seen these light and sound show. It's the world's largest permanent light and sound show according to Guinness World Records.<br><br></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-xs">View</button>
                            <button type="button" class="btn btn-outline-secondary btn-xs">Edit</button>
                          </div>
                          <small class="text-muted">Aug 02, 2021</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="https://i.ibb.co/YRj09H4/japan-Nov18.jpg" style="width:100%;">
                      <div class="card-body">
                        <p class="card-text" style="color:black"><span style="font-size: 12px">Nov 2018 / Tokyo, Japan</span> <br>
                          Shinjuku at Night<br><br>
                          일본에 벌써 3번째 여행이다. 모두 도쿄에만 왔다. 도쿄는 서울과 크게 다른점은 없다. 그럼에도 자꾸 오는 이유는 돈친칸 돈까스가 정말 너무 맛있다. 우리나라 그 어느 유명한 집도 돈친칸 등심 돈까스 맛을 따라잡을 수 없다.<br><br></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-xs">View</button>
                            <button type="button" class="btn btn-outline-secondary btn-xs">Edit</button>
                          </div>
                          <small class="text-muted">Aug 02, 2021</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="https://i.ibb.co/V2P1Q0R/germay-Jul19.jpg" style="width:100%;">
                      <div class="card-body">
                        <p class="card-text" style="color:black"><span style="font-size: 12px">Jul 2019 / Berlin, Tokyo</span> <br>
                          Memorial to the Murdered Jews <br><br>
                          The Memorial to the Murdered Jews of Europe is a memorial in Berlin to the Jewish victims of the Holocaust, designed by architect Peter Eisenman and engineer Buro Happold.<br><br></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-xs">View</button>
                            <button type="button" class="btn btn-outline-secondary btn-xs">Edit</button>
                          </div>
                          <small class="text-muted">Aug 02, 2021</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Upload Image</text></svg>
                      <div class="card-body">
                        <p class="card-text" style="color:black"><span style="font-size: 12px">Date / City</span> <br>
                          Title <br><br>
                      Write your own trip<br><br><br></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-xs">View</button>
                            <button type="button" class="btn btn-outline-secondary btn-xs">Edit</button>
                          </div>
                          <small class="text-muted">Wrote date</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
              </div>
            </div>
          
          </main>
          <br>
          <footer class="mt-auto text-white-50">
            <p>Layout template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a></p>
          </footer>
          <br>
        </div>
        </div>
      </div>
    
    
        </body>
    </html>